<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}">
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>