{% extends "base.html.jinja" %}
{% block stylesheet %}{{ css_file }}{% endblock %}

{% block body %}
<div id="title">
<h1>{{ page_properties['Title'] }}</h1>
</div>
<div id="content">
{%if page_properties['Has image'] %}
<img src="{{ page_properties['Has image'] }}">
{% endif %}
<div id="content">

{% endblock %}