@page {
    size: 119mm 158mm; /*PicoSign 7.8"*/
}

@page {
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 1cm;
  margin-bottom: 1cm;

}

body { background: white;}

div#title {
    border:green solid 1px;
    display:block;
    height:20mm;
}

div#title h1 {display:block;}

div#content {
    border:red solid 1px;
    display:block;
    height:50mm;
    }

div#content img {
    border: 1px red solid;
    height: inherit;
}

