@page {
    size: 101.6mm 135.5mm; /*PicoSign 13.3": 1200x1600@150dpi*/
}

@page {
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 1cm;
  margin-bottom: 1cm;
  border: 1px blue solid;
}

body { background: white;}


div#title {
    border:green solid 1px;
    display:block;
    height:20mm;
}

div#title h1 {display:block;}

div#content {
    border:red solid 1px;
    display:block;
    height:50mm;
    }

div#content img {
    border: 1px red solid;
    height: inherit;
}

